@media (prefers-color-scheme: light) {

    html,
    body {
        color: #161616;
        background-color: #eeeeee;
    }

    small {
        color: rgb(29, 29, 29);
    }
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        color: #eeeeee;
        background-color: #161616;
    }

    small {
        color: #eeeeee;
    }
}

.Vowel {
    color: tomato;
}

.Psswrd {
    position: relative;
    display: flex;
}

.Psswrd__view {
    width: 60vw;
    height: 100px;
    border-radius: 4px;
    border: 0;
    padding: 16px;
    text-align: center;
    font-size: 22px;
}

.Psswrd__copy {
    position: absolute;
    right: 0;
    top: 0;
}

.PsswrdOptions {
    position: relative;
    margin-bottom: 16px;
}

/* The PsswrdOption */
.PsswrdOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.PsswrdOption:hover {
    background-color: #e2e2e2;
}

.PsswrdOption .PsswrdOption__inputbox {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 16px;
}
/* not working */
.PsswrdOption input:checked .PsswrdOption__inputbox{
    background-color: tomato;
    border-color: tomato;
}


.PsswrdOption__label {}

.PsswrdOption__label--helper {}


.Psswrd__copy {
    position: relative;
    display: inline-block;
}

.Psswrd__copy .Psswrd__tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.Psswrd__copy .Psswrd__tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.Psswrd__copy:hover .Psswrd__tooltip {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
}

/* .container{
    display: none;
} */