@media (prefers-color-scheme: light) {

    html,
    body {
        color: #161616;
        background-color: #ffffff;
    }

    small {
        color: #0a58ca;
    }

    .FunnyGif {
        filter: invert(0);
    }


    a {
        color: #0a58ca;
    }

    a:hover {
        color: tomato;
    }

    .Psswrd__view {
        background-color: #eeeeee;
        color: #161616;
    }
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        color: #eeeeee;
        background-color: #000000;
    }

    small {
        color: tomato;
    }

    .FunnyGif {
        filter: invert(1);
    }


    a {
        color: tomato;
    }

    a:hover {
        color: greenyellow;
    }

    .Psswrd__view {
        background-color: #141414;
        color: white;
    }
}

.Vowel {
    width: 21.5px;
    color: tomato;
    animation-name: LoopText;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    opacity: 1;
    animation-direction: reverse;
}

.TheTitle::after {
    content: ".com";
    position: absolute;
    animation-name: LoopTextURL;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 0;
    animation-direction: reverse;
}

@keyframes LoopText {
    0% {
        width: 21.5px;
        opacity: 1;
        display: inline-block;
    }

    15% {
        width: 0px;
        opacity: 0;
        display: none;
    }

    25% {
        width: 0px;
        opacity: 0;
        display: none;
    }

    50% {
        width: 0px;
        opacity: 0;
        display: none;
    }

    65% {
        width: 0px;
        opacity: 0;
        display: none;
    }

    75% {
        width: 21.5px;
        opacity: 1;
        display: inline-block;
    }

    100% {
        width: 21.5px;
        opacity: 1;
        display: inline-block;
    }
}

@keyframes LoopTextURL {
    0% {
        display: none;
        opacity: 0;
    }


    15% {
        display: none;
        opacity: 0;
    }

    25% {
        opacity: 1;
        display: block;
    }

    50% {
        opacity: 1;
        display: block;
    }

    65% {
        display: none;
        opacity: 0;
    }

    75% {
        display: none;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.Psswrd {
    position: relative;
    display: flex;
}

.Psswrd__view {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    border: 0;
    padding: 16px;
    text-align: center;
    font-size: 22px;
    margin-right: 14px;
}

.Psswrd__copy {
    position: absolute;
    right: 0;
    top: 0;
}

.PsswrdOptions {
    position: relative;
    margin-bottom: 16px;
    opacity: 0.3;
}

/* The PsswrdOption */
.PsswrdOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.PsswrdOption:hover {
    background-color: #e2e2e2;
}

.PsswrdOption .PsswrdOption__inputbox {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 16px;
}

/* not working */
.PsswrdOption input:checked .PsswrdOption__inputbox {
    background-color: tomato;
    border-color: tomato;
}


.PsswrdOption__label {}

.PsswrdOption__label--helper {}


.Psswrd__copy {
    position: relative;
    display: inline-block;
}

.Psswrd__copy .Psswrd__tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.Psswrd__copy .Psswrd__tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.Psswrd__copy:hover .Psswrd__tooltip {
    visibility: visible;
    opacity: 1;
}


code a {
    text-decoration: none;
}



.UsageTips {}

/* Bootstrap Overides */
.btn, button {
    box-shadow: none !important;
}

a {
    text-decoration: none;
}